<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>

    <h1>Adiconar Link</h1>

    <form action="/" method="POST">
        <input type="text" name="title" placeholder="Título" class="title" value="<%=body.title%>" required>
        <input type="text" name="description" placeholder="Descrição" class="description" value="<%=body.description%>">
        <input type="text" name="url" placeholder="URL" class="url" value="<%=body.url%>" required>
        <button>Enviar</button>
    </form>

    <% if(error){%>
        <h3><%=error.message%></h3> 
    <%}%>

</body>
</html>